<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-lazy-init="false">

	<description>Quartz Configuration for clearing and notification </description>

	<!-- 订单清算自动任务 -->
    <bean id="orderClearingJob" class="com.pcitech.iLife.task.ClearOrder"></bean>
    <bean id="orderClearingMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="orderClearingJob"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="from xml"></property-->
    </bean>
    <bean id="orderClearingTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="orderClearingMethod"></property>
        <property name="cronExpression" value="0 */5 * * * ?"></property>
    </bean>
    <bean id="orderClearingScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="orderClearingTrigger"></ref>
            </list>
        </property>
    </bean>
	
	<!-- 订单清算通知 -->
    <bean id="orderClearingNotifyJob" class="com.pcitech.iLife.task.BrokerClearingNotifyTask"></bean>
    <bean id="orderClearingNotifyMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="orderClearingNotifyJob"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="from xml"></property-->
    </bean>
    <bean id="orderClearingNotifyTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="orderClearingNotifyMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="orderClearingNotifyScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="orderClearingNotifyTrigger"></ref>
            </list>
        </property>
    </bean>

	<!-- 达人绩效统计初始化任务: daily -->
    <bean id="performanceTaskCreateJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodDaily"></property>
        <property name="cronExpression" value="0 0 18 * * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效统计初始化任务: weekly -->
    <bean id="performanceTaskCreateJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodWeekly"></property>
        <property name="cronExpression" value="0 0 20 ? * SAT"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效统计初始化任务: monthly -->
    <bean id="performanceTaskCreateJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodMonthly"></property>
        <property name="cronExpression" value="0 0 7 1 * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
	<!-- 达人绩效通知: daily -->
    <bean id="performanceNotifyJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceNotifyTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodDaily"></property>
        <property name="cronExpression" value="0 0 19 * * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效通知: weekly -->
    <bean id="performanceNotifyJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceNotifyTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodWeekly"></property>
        <property name="cronExpression" value="0 0 21 ? * SAT"></property>
    </bean>
    <bean id="performanceNotifySchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效通知: monthly -->
    <bean id="performanceNotifyJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceNotifyTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodMonthly"></property>
        <property name="cronExpression" value="0 0 8 1 * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
  	<!-- 流量主互阅任务: 每天发送一次，当天有效 -->
    <bean id="publisherGroupingTaskDaily" class="com.pcitech.iLife.task.PublisherGroupingTask"></bean>
    <bean id="publisherGroupingTaskMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="publisherGroupingTaskDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="daily"></property-->
    </bean>
    <bean id="publisherGroupingTaskTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="publisherGroupingTaskMethodDaily"></property>
        <property name="cronExpression" value="0 0 6 * * ?"></property>
    </bean>
    <bean id="publisherGroupingTaskSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="publisherGroupingTaskTriggerDaily"></ref>
            </list>
        </property>
    </bean> 
    
  	<!-- 流量主互阅互关报告: 整点发送 -->
    <bean id="publisherGroupingReportTaskDaily" class="com.pcitech.iLife.task.PublisherGroupingReportTask"></bean>
    <bean id="publisherGroupingReportTaskMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="publisherGroupingReportTaskDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="daily"></property-->
    </bean>
    <bean id="publisherGroupingReportTaskTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="publisherGroupingReportTaskMethodDaily"></property>
        <property name="cronExpression" value="0 0 7-23 * * ?"></property>
    </bean>
    <bean id="publisherGroupingReportTaskSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="publisherGroupingReportTaskTriggerDaily"></ref>
            </list>
        </property>
    </bean>           
    
  	<!-- 流量主效益统计任务: daily -->
    <bean id="publisherPerformanceTaskDaily" class="com.pcitech.iLife.task.PublisherPerformanceNotifyTask"></bean>
    <bean id="publisherPerformanceTaskMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="publisherPerformanceTaskDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="daily"></property-->
    </bean>
    <bean id="publisherPerformanceTaskTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="publisherPerformanceTaskMethodDaily"></property>
        <property name="cronExpression" value="0 0 15 * * ?"></property>
    </bean>
    <bean id="publisherPerformanceTaskSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="publisherPerformanceTaskTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 清单数据推送: 每周一、周四下午推送一次 -->
    <!-- bean id="newBoardBroadcastTask" class="com.pcitech.iLife.task.NewBoardBroadcast"></bean>
    <bean id="newBoardBroadcastMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="newBoardBroadcastTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="newBoardBroadcastTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="newBoardBroadcastMethod"></property>
        <property name="cronExpression" value="0 0 16 ? * MON,THU"></property>
    </bean>
    <bean id="newBoardBroadcastScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="newBoardBroadcastTrigger"></ref>
            </list>
        </property>
    </bean --> 	             
    
	<!-- 微信选品入库：达人发送淘口令后存储到broker_seeds -->
    <bean id="brokerSeedNotifyTask" class="com.pcitech.iLife.task.BrokerSeedNotifyTask"></bean>
    <bean id="brokerSeedNotifyTaskMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="brokerSeedNotifyTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="brokerSeedNotifyTaskMethod"></property>
        <property name="cronExpression" value="0 * * * * ?"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="brokerSeedNotifyTaskTrigger"></ref>
            </list>
        </property>
    </bean> 	    
</beans>