<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-lazy-init="false">

	<description>Quartz Configuration</description>
	
	<!-- 订单清算自动任务 -->
    <bean id="clearingNotifyJob" class="com.pcitech.iLife.task.BrokerClearingNotifyTask"></bean>
    <bean id="clearingNotifyMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="clearingNotifyJob"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="from xml"></property-->
    </bean>
    <bean id="clearingNotifyTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="clearingNotifyMethod"></property>
        <property name="cronExpression" value="0 */1 * * * ?"></property>
    </bean>
    <bean id="clearingNotifyScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="clearingNotifyTrigger"></ref>
            </list>
        </property>
    </bean>

	<!-- 达人绩效统计初始化任务: daily -->
    <bean id="performanceTaskCreateJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodDaily"></property>
        <property name="cronExpression" value="0 0 18 * * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效统计初始化任务: weekly -->
    <bean id="performanceTaskCreateJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodWeekly"></property>
        <property name="cronExpression" value="0 0 20 ? * SAT"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效统计初始化任务: monthly -->
    <bean id="performanceTaskCreateJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodMonthly"></property>
        <property name="cronExpression" value="0 0 7 1 * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
	<!-- 达人绩效通知: daily -->
    <bean id="performanceNotifyJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceNotifyTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodDaily"></property>
        <property name="cronExpression" value="0 0 19 * * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效通知: weekly -->
    <bean id="performanceNotifyJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceNotifyTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodWeekly"></property>
        <property name="cronExpression" value="0 0 21 ? * SAT"></property>
    </bean>
    <bean id="performanceNotifySchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效通知: monthly -->
    <bean id="performanceNotifyJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceNotifyTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodMonthly"></property>
        <property name="cronExpression" value="0 0 8 1 * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
	<!-- 清单数据推送: 每天早上8点钟执行 -->
    <bean id="newBoardBroadcastTask" class="com.pcitech.iLife.task.NewBoardBroadcast"></bean>
    <bean id="newBoardBroadcastMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="newBoardBroadcastTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="newBoardBroadcastTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="newBoardBroadcastMethod"></property>
        <property name="cronExpression" value="0 0 8,16 * * ?"></property>
    </bean>
    <bean id="newBoardBroadcastScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="newBoardBroadcastTrigger"></ref>
            </list>
        </property>
    </bean> 	    
	
	<!-- 淘宝数据类目同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskTaobao" class="com.pcitech.iLife.task.TaobaoItemSync"></bean>
    <bean id="cpsDataSyncTaskTaobaoMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskTaobao"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskTaobaoTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskTaobaoMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskTaobaoScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskTaobaoTrigger"></ref>
            </list>
        </property>
    </bean> 	

	<!-- 京东数据同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskJd" class="com.pcitech.iLife.task.JdItemSync"></bean>
    <bean id="cpsDataSyncTaskJdMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskJd"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskJdTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskJdMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskJdScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskJdTrigger"></ref>
            </list>
        </property>
    </bean> 	
	
	<!-- 拼多多数据同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskPdd" class="com.pcitech.iLife.task.PddItemSync"></bean>
    <bean id="cpsDataSyncTaskPddMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskPdd"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskPddTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskPddMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskPddScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskPddTrigger"></ref>
            </list>
        </property>
    </bean> 		

    <!-- 苏宁数据同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskSuning" class="com.pcitech.iLife.task.SuningItemSync"></bean>
    <bean id="cpsDataSyncTaskSuningMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskSuning"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskSuningTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskSuningMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskSuningScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskSuningTrigger"></ref>
            </list>
        </property>
    </bean> 	
	
	<!-- 手动拼接CPS链接数据同步: 每分钟执行 -->
    <bean id="cpsDataSyncTaskCpsLink" class="com.pcitech.iLife.task.CpsLinkSync"></bean>
    <bean id="cpsDataSyncTaskCpsLinkMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskCpsLink"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskCpsLinkTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskCpsLinkMethod"></property>
        <property name="cronExpression" value="0 * * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskCpsLinkScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskCpsLinkTrigger"></ref>
            </list>
        </property>
    </bean> 	
	
	<!-- 考拉数据同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskKaola" class="com.pcitech.iLife.task.KaolaItemSync"></bean>
    <bean id="cpsDataSyncTaskKaolaMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskKaola"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskKaolaTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskKaolaMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskKaolaScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskKaolaTrigger"></ref>
            </list>
        </property>
    </bean> 		
    
    	<!-- 2-party分润: 每5分钟执行 -->
    <bean id="cpsDataSyncTask2PartyProfit" class="com.pcitech.iLife.task.CalcProfit2Party"></bean>
    <bean id="cpsDataSyncTask2PartyProfitMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTask2PartyProfit"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTask2PartyProfitTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTask2PartyProfitMethod"></property>
        <property name="cronExpression" value="0 */5 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTask2PartyProfitScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTask2PartyProfitTrigger"></ref>
            </list>
        </property>
    </bean> 	
    	<!-- 1-party分润: 每5分钟执行 -->
    <bean id="cpsDataSyncTask1PartyProfit" class="com.pcitech.iLife.task.CalcProfit"></bean>
    <bean id="cpsDataSyncTask1PartyProfitMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTask1PartyProfit"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTask1PartyProfitTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTask1PartyProfitMethod"></property>
        <property name="cronExpression" value="0 */5 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTask1PartyProfitScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTask1PartyProfitTrigger"></ref>
            </list>
        </property>
    </bean>     
    
    	<!-- 拼多多商品自动入库: 每天执行一次：每天凌晨2点执行 -->
    <bean id="cpsDataSyncTaskPddItemSearch" class="com.pcitech.iLife.task.PddItemsSearcher"></bean>
    <bean id="cpsDataSyncTaskPddItemSearchMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskPddItemSearch"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskPddItemSearchTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskPddItemSearchMethod"></property>
        <property name="cronExpression" value="0 0 2 * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskPddItemSearchScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskPddItemSearchTrigger"></ref>
            </list>
        </property>
    </bean>      
    
	<!-- 微信选品入库：达人发送淘口令后存储到broker_seeds -->
    <bean id="brokerSeedNotifyTask" class="com.pcitech.iLife.task.BrokerSeedNotifyTask"></bean>
    <bean id="brokerSeedNotifyTaskMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="brokerSeedNotifyTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="brokerSeedNotifyTaskMethod"></property>
        <property name="cronExpression" value="0 */1 * * * ?"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="brokerSeedNotifyTaskTrigger"></ref>
            </list>
        </property>
    </bean> 	    
</beans>