<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-lazy-init="false">

	<description>Quartz Configuration</description>
	
	<!-- 订单清算自动任务 -->
    <bean id="clearingNotifyJob" class="com.pcitech.iLife.task.BrokerClearingNotifyTask"></bean>
    <bean id="clearingNotifyMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="clearingNotifyJob"></property>
        <property name="targetMethod" value="execute"></property>
        <!--property name="arguments" value="from xml"></property-->
    </bean>
    <bean id="clearingNotifyTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="clearingNotifyMethod"></property>
        <property name="cronExpression" value="0 */1 * * * ?"></property>
    </bean>
    <bean id="clearingNotifyScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="clearingNotifyTrigger"></ref>
            </list>
        </property>
    </bean>

	<!-- 达人绩效统计初始化任务: daily -->
    <bean id="performanceTaskCreateJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodDaily"></property>
        <property name="cronExpression" value="0 0 18 * * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效统计初始化任务: weekly -->
    <bean id="performanceTaskCreateJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodWeekly"></property>
        <property name="cronExpression" value="0 0 20 ? * SAT"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效统计初始化任务: monthly -->
    <bean id="performanceTaskCreateJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceTaskCreator"></bean>
    <bean id="performanceTaskCreateMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceTaskCreateJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceTaskCreateTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceTaskCreateMethodMonthly"></property>
        <property name="cronExpression" value="0 0 7 1 * ?"></property>
    </bean>
    <bean id="performanceTaskCreateSchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceTaskCreateTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
	<!-- 达人绩效通知: daily -->
    <bean id="performanceNotifyJobDaily" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodDaily" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobDaily"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="daily"></property>
    </bean>
    <bean id="performanceNotifyTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodDaily"></property>
        <property name="cronExpression" value="0 0 19 * * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerDaily" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerDaily"></ref>
            </list>
        </property>
    </bean>    
    
	<!-- 达人绩效通知: weekly -->
    <bean id="performanceNotifyJobWeekly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodWeekly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobWeekly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="weekly"></property>
    </bean>
    <bean id="performanceNotifyTriggerWeekly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodWeekly"></property>
        <property name="cronExpression" value="0 0 21 ? * SAT"></property>
    </bean>
    <bean id="performanceNotifySchedulerWeekly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerWeekly"></ref>
            </list>
        </property>
    </bean> 
    
	<!-- 达人绩效通知: monthly -->
    <bean id="performanceNotifyJobMonthly" class="com.pcitech.iLife.task.BrokerPerformanceNotifyTask"></bean>
    <bean id="performanceNotifyMethodMonthly" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="performanceNotifyJobMonthly"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="arguments" value="monthly"></property>
    </bean>
    <bean id="performanceNotifyTriggerMonthly" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="performanceNotifyMethodMonthly"></property>
        <property name="cronExpression" value="0 0 8 1 * ?"></property>
    </bean>
    <bean id="performanceNotifySchedulerMonthly" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="performanceNotifyTriggerMonthly"></ref>
            </list>
        </property>
    </bean>         
    
	<!-- 清单数据推送: 每天早上8点钟执行 -->
    <bean id="newBoardBroadcastTask" class="com.pcitech.iLife.task.NewBoardBroadcast"></bean>
    <bean id="newBoardBroadcastMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="newBoardBroadcastTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="newBoardBroadcastTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="newBoardBroadcastMethod"></property>
        <property name="cronExpression" value="0 0 8,16 * * ?"></property>
    </bean>
    <bean id="newBoardBroadcastScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="newBoardBroadcastTrigger"></ref>
            </list>
        </property>
    </bean> 	    
	
	<!-- 淘宝数据类目同步: 每3分钟执行 -->
    <bean id="cpsDataSyncTaskTaobao" class="com.pcitech.iLife.task.TaobaoItemSync"></bean>
    <bean id="cpsDataSyncTaskTaobaoMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cpsDataSyncTaskTaobao"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="cpsDataSyncTaskTaobaoTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cpsDataSyncTaskTaobaoMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="cpsDataSyncTaskTaobaoScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cpsDataSyncTaskTaobaoTrigger"></ref>
            </list>
        </property>
    </bean> 	
	
	<!-- 微信选品入库：达人发送淘口令后存储到broker_seeds -->
    <bean id="brokerSeedNotifyTask" class="com.pcitech.iLife.task.BrokerSeedNotifyTask"></bean>
    <bean id="brokerSeedNotifyTaskMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="brokerSeedNotifyTask"></property>
        <property name="targetMethod" value="execute"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="brokerSeedNotifyTaskMethod"></property>
        <property name="cronExpression" value="0 */3 * * * ?"></property>
    </bean>
    <bean id="brokerSeedNotifyTaskScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="brokerSeedNotifyTaskTrigger"></ref>
            </list>
        </property>
    </bean> 	    
</beans>